@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
:root {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  --color1: #E41936;
  --color2: #E7E31D;
  --color3: #3BB7CE;
}
:root * {
  outline: none;
}

.main {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.main .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.heroLeft {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.heroLeft h1 {
  text-align: center;
}
.buttonLeft, .buttonRight {
  position: absolute;
  padding: 10px 15px;
  margin: 10px;
  border: none;
  background-color: black;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 2;
}
.buttonRight {
  right: 0;
}
.buttonLeft:active, .buttonRight:active {
  transform: scale(0.9);
}
.layers {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.layers .layer {
  display: grid;
  grid-template-rows: 6rem 3fr 1fr;
  background-color: white;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.5s;
  transform: translateX(100%);
  opacity: 0;
}
.layerDisplayed {
  transform: translateX(0) !important;
  opacity: 1 !important;
  z-index: 1 !important;
}
.layerDisplayedExit {
  transform: translateX(-100%) !important;
  opacity: 0 !important;
  z-index: 1 !important;
}
.layers .layer > span {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
.layerImage {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
}
.layerInfo {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  column-gap: 2rem;
  font-size: 1.5rem;
}
.layerInfo div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.layerInfo div:first-child {
  align-items: flex-end;
  color: gray;
}
.layerInfo div:last-child {
  font-weight: bold;
}
.layers .layer:nth-child(1) > span {
  color: var(--color1);
}
.layers .layer:nth-child(2) > span {
  color: var(--color2);
}
.layers .layer:nth-child(3) > span {
  color: var(--color3);
}
.heroRight {
  grid-column: 2;
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.heroRight > .layer {
  background-color: #E41936;
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.5s;
}
.heroRight > .layer:nth-child(1) {
  background-color: var(--color1);
}
.heroRight > .layer:nth-child(2) {
  background-color: var(--color2);
}
.heroRight > .layer:nth-child(3) {
  background-color: var(--color3);
}
.photoName {
  position: absolute;
  top: 33%;
  left: 50%;
  width: 20%;
  font-size: 1.5rem;
  z-index: 2;
}
.photoName span {
  display: block;
}
.photoNameWrapper {
  position: relative;
}
.photoNameTitle {
  font-weight: bold;
}
.photoName .layer {
  padding: 10px;
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.photoName .layerDisplayed {
  transform: translateX(0);
  transition-delay: 0.5s;
}
.photoFrame {
  position: absolute;
  overflow: hidden;
  animation-play-state: paused;
  animation: cover 1s ease-in-out;
}
.heroRight .photoFrame:nth-child(4) {
  top: 10%;
  left: 10%;
  width: 40%;
  height: 40%;
  z-index: 3;
}
.heroRight .photoFrame:nth-child(4) .cover {
  background-color: black;
}
.heroRight .photoFrame:last-child {
  top: 40%;
  left: 20%;
  width: 65%;
  height: 50%;
  z-index: 2;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transition: width 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.photoFrame .layer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition-delay: 0.5s;
}
.photoFrame .layerDisplayed {
  opacity: 1;
}

@keyframes cover {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  95% {
    width: 0;
  }
  100% {
    width: 0;
  }
}