:global([class^=swiper-button-]) {
	transition: all 0.3s ease;
}

:global(.swiper-slide) {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

:global(*), :global(*:before), :global(*:after) {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:global(.swiper-container) {
	width: 80%;
	height: 100vh;
	float: left;
	transition: opacity 0.6s ease, transform 0.3s ease;
}
:global(.swiper-container.nav-slider) {
	width: 20%;
	padding-left: 5px;
}
:global(.swiper-container.nav-slider .swiper-slide) {
	cursor: pointer;
	opacity: 0.4;
	transition: opacity 0.3s ease;
}
:global(.swiper-container.nav-slider .swiper-slide.swiper-slide-active) {
	opacity: 1;
}
:global(.swiper-container.nav-slider .swiper-slide .content) {
	width: 100%;
}
:global(.swiper-container.nav-slider .swiper-slide .content .title) {
	font-size: 20px;
}
:global(.swiper-container:hover .swiper-button-prev), :global(.swiper-container:hover .swiper-button-next) {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}
:global(.swiper-container.loading) {
	opacity: 0;
	visibility: hidden;
}

:global(.swiper-slide) {
	overflow: hidden;
}
:global(.swiper-slide .slide-bgimg) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}
:global(.swiper-slide .entity-img) {
	display: none;
}
:global(.swiper-slide .content) {
	position: absolute;
	top: 40%;
	left: 0;
	width: 50%;
	padding-left: 5%;
	color: #fff;
}
:global(.swiper-slide .content .title) {
	font-size: 2.6em;
	font-weight: bold;
	margin-bottom: 30px;
}
:global(.swiper-slide .content .caption) {
	display: block;
	font-size: 13px;
	line-height: 1.4;
	transform: translateX(50px);
	opacity: 0;
	transition: opacity 0.3s ease, transform 0.7s ease;
}
:global(.swiper-slide .content .caption.show) {
	transform: translateX(0);
	opacity: 1;
}

:global([class^=swiper-button-]) {
	width: 44px;
	opacity: 0;
	visibility: hidden;
}

:global(.swiper-button-prev) {
	transform: translateX(50px);
}

:global(.swiper-button-next) {
	transform: translateX(-50px);
}
