@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");

.root {
  font-family: "Lato";
  color: #d6f9dd;
  /* Force the component root to occupy the full viewport */
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.root * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.root img {
  max-width: 100%;
}

.caption {
  position: absolute;
  top: 50%;
  left: 8rem;
  z-index: 9;
  transform: translateY(-50%);
  opacity: 0;
  transition: 500ms ease opacity, 500ms ease transform;
  transform: translateY(60px);
}
.currentCaption {
  transition-delay: 1000ms;
  opacity: 1;
  transform: translateY(0);
}
.previousCaption {
  transform: translateY(-60px);
}
.captionHeading {
  transition: 500ms ease-in all;
}
.captionHeading h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  text-indent: -0.2rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
.captionSubhead {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
  word-spacing: 0.1rem;
  margin-bottom: 2.5rem;
  display: block;
}
.btn {
  color: #333;
  font-size: 0.8rem;
  text-decoration: none;
  background-color: white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  position: relative;
  z-index: 9;
  transition: 250ms ease-in background-color, 500ms ease-in color;
}
.btn:hover {
  background-color: black;
  color: white;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #2C302E;
  display: flex;
  position: relative;
}

.leftCol,
.rightCol {
  width: 100%;
  box-sizing: border-box;
  height: calc(100% - 4rem);
  overflow: hidden;
}

.leftCol {
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  margin: 2rem;
  position: relative;
}
.leftCol .slide {
  filter: grayscale(100%);
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: left top !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 1000ms cubic-bezier(1, 0.04, 0.355, 1) transform, 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55) clip-path;
  transform: translateY(-100%);
  scale: 1;
  z-index: -1;
}
.leftCol .previous {
  z-index: 1;
  opacity: 1;
  transform: translateY(0);
  animation-delay: 1s;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: 3s ease transform;
  will-change: transform;
}
.leftCol .previous.change {
  transform: translateY(50%);
}
.change {
  will-change: transform;
}
.leftCol .next {
  transform: translateY(-100%);
  z-index: 3;
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.leftCol .current {
  opacity: 1;
  transform: translateY(0) scale(1.25);
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.rightCol {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightCol .preview {
  max-width: 400px;
}

.nav {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  overflow: hidden;
}
.nav a {
  color: #fafafa;
  font-size: 3rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.nav:hover .slideUp,
.nav:hover .slideDown {
  opacity: 0.5;
  transform: translateX(0);
}
.slideUp,
.slideDown {
  display: block;
  position: absolute;
  text-align: center;
  padding: 1rem;
  opacity: 0;
  transition: 0.25s ease opacity, 0.25s ease transform;
  z-index: 99;
}
.slideUp:hover,
.slideDown:hover {
  opacity: 1;
}
.nav a {
  text-decoration: none;
  font-weight: 300 !important;
}
.slideUp {
  top: 50%;
  left: 0;
  transform: translateX(-100%);
}
.slideDown {
  top: 50%;
  right: 0;
  transform: translateX(100%);
}
